<div class="hidden md:block relative min-h-[44rem] md:w-full">
  <div class="absolute top-0 left-0 -translate-x-1/2 rounded-full border border-gray-500 h-full w-[44rem]">
    <div class="absolute right-1/4 top-0 -translate-y-1/3 h-24 w-24">{% include "svg/block1.html" %}</div>
    <div class="absolute right-0 top-1/2 translate-x-1/2 -translate-y-1/2 h-28 w-28">
      {% include "svg/block2.html" %}
    </div>
    <div class="absolute right-1/4 bottom-0 h-32 w-32">{% include "svg/block3.html" %}</div>
  </div>

  <div class="absolute top-0 left-80 -translate-y-1/2">
    <div class="flex">
      <h3
        class="text-white font-display uppercase font-light text-xl tracking-widest border-t border-b border-gray-400"
      >
        Frontend
      </h3>
    </div>
    <p class="text-gray-400 max-w-md mt-2">
      So far, the majority of my career has been spent working on frontend. There's a reason for that, I think.
      It's probably because what I am the best at.
    </p>
  </div>

  <div class="absolute top-1/2 left-[32rem] -translate-y-0 flex space-x-4 items-start">
    <div class="flex items-center">
      <h3 class="text-white font-body uppercase font-semibold text-xl tracking-widest">Backend</h3>
      <div class="ml-2 w-8 h-0.5 bg-gray-500"></div>
    </div>
    <p class="text-gray-400 max-w-md">
      So far, the majority of my career has been spent working on frontend. There's a reason for that, I think.
      It's probably because what I am the best at.
    </p>
  </div>
  <div class="absolute bottom-0 left-64 translate-y-1/2 flex space-x-4 items-start">
    <div class="flex items-center">
      <h3 class="text-white font-display uppercase font-light text-xl tracking-widest">Frontend</h3>
      <div class="ml-2 w-8 h-0.5 bg-gray-500"></div>
    </div>
    <p class="text-gray-400 max-w-md">
      So far, the majority of my career has been spent working on frontend. There's a reason for that, I think.
      It's probably because what I am the best at.
    </p>
  </div>
</div>