---
layout: "layouts/level_2.njk"
title: "Blog"
---

<!--  -->
{% from "macros/feature_blocks.njk" import articles %}
<!--  -->
{% import "macros/secondary_page_blocks.njk" as blocks %}

<div>
  <!-- ================================================= -->
  <!-- 01 ABOUT -->
  <!-- ================================================= -->
  {{ blocks.big_intro(title="Featured Articles") }}

  <div class="pg-section">
    <div class="pg-padding-ext">
      {{ articles(data) }}
    </div>
  </div>
</div>
