---
layout: "layouts/level_2.njk"
title: "Blog"
---

{% from "macros/feature_blocks.njk" import articles %}

<div>
  <!-- ================================================= -->
  <!-- 01 ABOUT -->
  <!-- ================================================= -->
  <div class="mt-32 pg-section-2">
    <div class="pg-padding">
      <p class="section-label"></p>
      <h1 class="jumbo h1-max-w">
        <span class="text-white">Featured Blog Articles</span>
      </h1>
    </div>
  </div>

  {{ articles(data) }}
</div>
