<!-- Copy button! -->
<!-- Use to copy text -->
{% macro copy(textToCopy = "welcome", initialText = "(copy)", activeText = "copied", class="link p no-underline" ) %}
<button
  x-data="{
    isSwitched: false,
    buttonText: `{{ initialText }}`,
    switchLabel(ms = 4000) {
      // switch the label of the button for a specific amount of time
      this.isSwitched = true
      this.buttonText = `{{ activeText }}`

      // flip switch
      setTimeout(() => {
        this.isSwitched = false
        this.buttonText = `{{ initialText }}`
      }, ms);
    },
    copy(textToCopy, labelMs) {
      if (this.isSwitched) return

      navigator.clipboard.writeText(textToCopy);
      this.switchLabel()
    },
  }"
  x-on:click="copy(`{{ textToCopy }}`)"
  class="{{ class }}"
>
  <span class="flex items-center" :class="isSwitched ? 'text-green-400 dark:text-green-700' : ''">
    <span x-text="buttonText"></span>
  </span>
</button>
{% endmacro %}
