{% from "macros/primitives.njk" import tooltag %}

<!--  -->
{% macro big_intro(title="", subtitle="", stack_data=[]) %}
<div class="mt-20 pg-section-3 pg-section-border">
  <div class="pg-padding-ext">
    <div class="md:flex space-y-16 md:space-y-0 items-start">
      <div class="flex-[3_3_0%]">
        <h1 class="max-w-4xl oversize-1">{{ title }}</h1>
        <div class="mt-[20vh] md:mt-52">
          <h2 class="h1-sub h1-max-w">{{ subtitle }}</h2>
        </div>
      </div>

      <div class="flex-1 min-w-[16rem]">
        <div class="mt-4 space-y-8">
          {% for item in stack_data %}
          <div>
            <p class="list-label mb-1">{{ item.label }}</p>
            <p class="p">{{ item.content }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!--  -->
{% macro big_image_section(src="", alt="") %}
<div class="relative pg-section-3">
  <div class="pg-padding-ext">
    <img src="{{ src }}" alt="{{ alt }}" class="w-full object-contain" />
  </div>
</div>
{% endmacro %}

<!--  -->
{% macro call_left_stack_right_content(stack_data=[]) %}
<div class="pg-padding-ext">
  <div class="md:flex space-y-12 md:space-y-0 md:space-x-24 items-start justify-start">
    <div class="flex-1 min-w-[15rem] lg:min-w-[20rem]">
      <div class="space-y-8">
        {% for item in stack_data %}
        <div>
          <p class="list-label {% if item.tags %}mb-2{% else %}mb-1{% endif %}">{{ item.label }}</p>
          {% if item.tags %}
          <div class="flex items-start justify-start flex-wrap mb-4">
            {% for tag in item.tags %}
            <!--  -->
            {{ tooltag(tag) }}
            <!--  -->
            {% endfor %}
          </div>
          {% else %}
          <p class="p">{{ item.content }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="flex-[2_2_0%]">
      <div class="max-w-content-1">
        {{ caller() }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
