{% macro big_intro(title="", subtitle="", stack_data=[]) %}
<div class="mt-20 pg-section-3 pg-section-border">
  <div class="pg-padding-ext">
    <div class="md:flex space-y-16 md:space-y-0 items-start">
      <div class="flex-[3_3_0%]">
        <h1 class="max-w-4xl oversize-1 dont-break-out">{{ title }}</h1>
        <div class="mt-[20vh] md:mt-40">
          <h2 class="h1 h1-max-w">{{ subtitle }}</h2>
        </div>
      </div>

      <div class="flex-1 min-w-[16rem]">
        <div class="mt-4 space-y-8">
          {% for item in stack_data %}
          <div>
            <p class="list-label mb-1">{{ item.label }}</p>
            <p class="p">{{ item.content }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
