---
layout: "layouts/level_1.njk"
---

{% from "macros/footer_links.njk" import footer_row %}

<!-- Main content -->
<div class="min-h-[80vh]">{{ content | safe }}</div>

<div class="pg-section-border pt-4 pb-8">
  <div
    class="pg-padding-ext flex flex-col items-center text-center md:text-left md:flex-row md:items-start md:justify-between md:space-x-24"
  >
    <p class="p1 text-zinc-500 hidden md:block flex-1">&copy; benhonda.dev (beta v0.1)</p>
    <div class="flex-[2_2_0%]">
      <div class="max-w-content-1">{{ footer_row(data) }}</div>
    </div>
  </div>
</div>
