body {
  /* background: url("/assets/images/bgNoise1.svg"); */
}

[x-cloak] {
  display: none !important;
}

/**
*
*/
@font-face {
  font-family: "S";
  src: url("../assets/fonts/SFProText-Bold.woff2") format("woff2"),
    url("../assets/fonts/SFProText-Bold.woff") format("woff"),
    url("../assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "S";
  src: url("../assets/fonts/SFProText-Light.woff2") format("woff2"),
    url("../assets/fonts/SFProText-Light.woff") format("woff"),
    url("../assets/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "S";
  src: url("../assets/fonts/SFProText-Medium.woff2") format("woff2"),
    url("../assets/fonts/SFProText-Medium.woff") format("woff"),
    url("../assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "S";
  src: url("../assets/fonts/SFProText-MediumItalic.woff2") format("woff2"),
    url("../assets/fonts/SFProText-MediumItalic.woff") format("woff"),
    url("../assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "S";
  src: url("../assets/fonts/SFProText-Regular.woff2") format("woff2"),
    url("../assets/fonts/SFProText-Regular.woff") format("woff"),
    url("../assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "S";
  src: url("../assets/fonts/SFProText-RegularItalic.woff2") format("woff2"),
    url("../assets/fonts/SFProText-RegularItalic.woff") format("woff"),
    url("../assets/fonts/Satoshi-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 300.0 to 700.0)

*/

@font-face {
  font-family: "Tabular";
  src: url("../assets/fonts/Tabular-Variable.woff2") format("woff2"),
    url("../assets/fonts/Tabular-Variable.woff") format("woff"),
    url("../assets/fonts/Tabular-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 300.0 to 700.0)

*/

@font-face {
  font-family: "Tabular";
  src: url("../assets/fonts/Tabular-VariableItalic.woff2") format("woff2"),
    url("../assets/fonts/Tabular-VariableItalic.woff") format("woff"),
    url("../assets/fonts/Tabular-VariableItalic.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Tabular";
  src: url("../assets/fonts/Tabular-Light.woff2") format("woff2"),
    url("../assets/fonts/Tabular-Light.woff") format("woff"),
    url("../assets/fonts/Tabular-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Tabular";
  src: url("../assets/fonts/Tabular-Regular.woff2") format("woff2"),
    url("../assets/fonts/Tabular-Regular.woff") format("woff"),
    url("../assets/fonts/Tabular-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Tabular";
  src: url("../assets/fonts/Tabular-Italic.woff2") format("woff2"),
    url("../assets/fonts/Tabular-Italic.woff") format("woff"),
    url("../assets/fonts/Tabular-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Tabular";
  src: url("../assets/fonts/Tabular-Medium.woff2") format("woff2"),
    url("../assets/fonts/Tabular-Medium.woff") format("woff"),
    url("../assets/fonts/Tabular-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Tabular";
  src: url("../assets/fonts/Tabular-Semibold.woff2") format("woff2"),
    url("../assets/fonts/Tabular-Semibold.woff") format("woff"),
    url("../assets/fonts/Tabular-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
