---
layout: "layouts/level_1.njk"
title: "Home"
---

<!-- prettier-ignore -->
{% import "macros/footer_links.njk" as footer_links %}
{% import "macros/feature_blocks.njk" as features %}
{% import "macros/primitives.njk" as primitives %}

<div>
  <!-- ================================================= -->
  <!-- 01 ABOUT -->
  <!-- ================================================= -->
  <!-- <div id="about" class="mt-32 pg-section"> -->
  <div id="about" class="mt-32 pg-section">
    <div class="pg-padding">
      <div class="flex space-x-12 items-start justify-start">
        <div class="flex-[3_3_0%]">
          <p class="section-label">Welcome</p>
          <h1 class="h1">
            <span class="font-semibold">Hi, I'm Ben.</span>

            I'm 23. I'm from Ontario Canada. I design and build software products, mostly websites. I've worked on
            projects used by millions&mdash;maybe even one that you've used (probably not).

            <!-- A fourth-year
            computer science student at Queen’s University actively pursuing
            opportunities starting Spring 2023. I build beautfully designed and
            easy to use applications for the web and mobile, and I’ve done so
            for companies big and small. -->
          </h1>
          <p class="h2 mt-12">
            I'm on the hunt for new opportunities.
            <a href="{{ data.resume_link }}" download class="text-white">Download my resume</a> or
            <a href="#contact" class="text-white">contact me</a> or take a scroll.
          </p>
        </div>

        <!-- ================================================= -->
        <!-- 02 EXPERIENCE (Desktop) -->
        <!-- ================================================= -->

        <div class="desktop-only-block relative flex-1 min-w-[16rem]">
          {#
          <p class="section-label">Come chat</p>

          <div class="space-y-8">
            {% for item in data.quick_about %}
            <div class="space-y-3 md:space-y-1">
              <p class="list-label mb-2">{{ item.label }}</p>
              {% for el in item.content %}
              <div class="flex justify-center md:justify-start items-center flex-wrap">
                <p class="p">
                  {{ el }}
                </p>
              </div>
              {% endfor %}
            </div>
            {% endfor %}

            <p class="h2 text-white">
              <a href="/employment/" class="inline-flex items-center underline transition-opacity hover:opacity-80">
                <span class="mr-1">Learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
                  <path
                    fill-rule="evenodd"
                    d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </p>
          </div>
          #}
        </div>
      </div>
    </div>
  </div>

  <!-- ================================================= -->
  <!-- 02 EXPERIENCE (Mobile) -->
  <!-- ================================================= -->
  <div id="experience" class="mobile-only-block pg-section pg-section-border">
    <div class="pg-padding">
      <p class="section-label">02 • Experience</p>

      <div class="space-y-6">
        {% for item in data.work_exp %}
        <p class="h2">
          <span class="text-white font-medium">{{ item.company }}</span>
          <br />
          {{ item.role }}
          <br />
          {{ item.type }}
        </p>
        {% endfor %}

        <p class="pt-6 h2 text-white">
          <a href="/employment/" class="inline-flex items-center hover:underline">
            <span class="mr-1">Learn more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- ================================================= -->
  <!-- 03 FEATURED WORK -->
  <!-- ================================================= -->
  {{ features.projects(data) }}

  <!-- ================================================= -->
  <!-- 04 FEATURED ARTICLES -->
  <!-- ================================================= -->
  {{ features.articles(data) }}

  <!-- ================================================= -->
  <!-- 05 TECHNICAL SKILLS -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding">
      <p class="section-label">Tools and Skills</p>

      <div class="space-y-16 md:space-y-24">
        <div class="flex-[3_3_0%] desktop-only-block">
          <img src="/assets/images/tech-skills-d.png" alt="" class="w-full object-contain" />
        </div>

        <div class="mobile-only-block">
          <img src="/assets/images/tech-skills-m.png" alt="" class="max-w-3xl w-full object-contain" />
        </div>

        <div class="pl-0 md:pl-8">
          <div class="mb-8 flex justify-center">
            <div class="flex-shrink-0 h-1 md:h-px w-8 md:w-0 bg-white/30"></div>
          </div>
          <div
            class="flex flex-col md:flex-row items-center md:items-start justify-start md:justify-center space-x-0 md:space-x-8"
          >
            {% for item in data.tech_skills %}
            <div class="flex-1 max-w-lg">
              <p class="p text-center text-white mb-2">{{ item.category }}</p>
              <div class="flex items-start justify-center flex-wrap mb-4">
                {% for tag in item.tags %}
                <!--  -->
                {{ primitives.tooltag(tag) }}
                <!--  -->
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ================================================= -->
  <!-- 06 • CONTACT -->
  <!-- ================================================= -->
  <div id="contact" class="pg-section-2 pg-section-border">
    <div class="pg-padding">
      <p class="section-label">Contact me</p>

      <div class="flex space-x-12 items-start justify-start">
        <div class="flex-[3_3_0%]">
          <h2 class="h1 h1-max-w">
            I'm ready to hit the ground running with a team that is looking for a motivated developer.

            <br />
            <br />
            If you think we might be a good fit, or if you just want to chat,
            <a href="mailto:bhonda89@gmail.com" download class="text-white underline">
              send me an email at <span class="font-semibold">bhonda89@gmail.com</span></a
            >.
          </h2>
        </div>

        <!-- ================================================= -->
        <!-- 06 CONTACT (Desktop) -->
        <!-- ================================================= -->
        <div class="desktop-only-block flex-1 min-w-[16rem]">
          <img src="/assets/images/memoji.png" alt="Ben Honda Memoji" class="-mt-10 w-full object-contain" />
        </div>
      </div>

      <div class="mt-24 flex items-start justify-start">
        <div class="flex-1 max-w-2xl">{{ footer_links.footer_row(data) }}</div>

        <div class="mobile-only-block flex-shrink-0">
          <img src="/assets/images/memoji.png" alt="Ben Honda Memoji" class="h-40 w-40 object-contain" />
        </div>
      </div>
    </div>
  </div>
  <!-- ================================================= -->
</div>
