---
layout: "layouts/level_1.njk"
title: "Home"
---

<!-- prettier-ignore -->
{% import "macros/footer_links.njk" as footer_links %}
{% import "macros/feature_blocks.njk" as features %}
{% import "macros/primitives.njk" as primitives %}

<div class="pt-24">
  <div class="pg-section-3">
    <div class="pg-padding-ext">
      <!-- <h1 class="-ml-2 text-[9rem] text-white font-normal tracking-tighter leading-[0.9]">
        bh
      </h1> -->
      <div class="mt-[30vh] md:mt-72 md:flex items-end justify-start">
        <div class="flex-1">
          <h1 class="h1 h1-max-w">
            I build websites and apps for a living... <span class="">but I'd do it for free</span>*
          </h1>
        </div>
        <div class="mt-8 md:mt-0 flex-shrink-0">
          <p class="p2">*&nbsp;(hypothetically)</p>
        </div>
      </div>
    </div>
  </div>

  <!-- ================================================= -->
  <!-- 03 FEATURED WORK -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">Featured Work</p>
    </div>
    {{ features.projects(data) }}
  </div>

  <!-- ================================================= -->
  <!-- 04 FEATURED ARTICLES -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">Featured Articles</p>
    </div>
    <div class="pg-padding">
      {{ features.articles(data) }}
    </div>
  </div>

  <!-- ================================================= -->
  <!-- 05 TECHNICAL SKILLS -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">Tools and Skills</p>
    </div>
    <div class="pg-padding">
      <div class="space-y-16 md:space-y-24">
        <div class="flex-[3_3_0%] desktop-only-block">
          <img src="/assets/images/tech-skills-d.png" alt="" class="w-full object-contain" />
        </div>

        <div class="mobile-only-block">
          <img src="/assets/images/tech-skills-m.png" alt="" class="max-w-3xl w-full object-contain" />
        </div>

        <div class="pl-0 md:pl-8">
          <div class="mb-8 flex justify-center">
            <div class="flex-shrink-0 h-1 md:h-px w-8 md:w-0 bg-white/30"></div>
          </div>
          <div
            class="flex flex-col md:flex-row items-center md:items-start justify-start md:justify-center space-x-0 md:space-x-8"
          >
            {% for item in data.tech_skills %}
            <div class="flex-1 max-w-lg">
              <p class="p text-center text-white mb-2">{{ item.category }}</p>
              <div class="flex items-start justify-center flex-wrap mb-4">
                {% for tag in item.tags %}
                <!--  -->
                {{ primitives.tooltag(tag) }}
                <!--  -->
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ================================================= -->
  <!-- 06 • CONTACT -->
  <!-- ================================================= -->
  <div id="contact" class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">Contact</p>
    </div>
    <div class="pg-padding-ext">
      <h3 class="oversize-1 max-w-2xl">Let's get to work.</h3>
      <!-- <h3 class="text-7xl text-white leading-[1.0] tracking-tighter">Let's get to work.</h3> -->

      <div class="flex space-x-12 items-start justify-start">
        <div class="flex-[3_3_0%] space-y-16 mt-12">
          <p class="h1 max-w-2xl">
            <!-- I'm ready to hit the ground running with a team that is looking for a motivated developer. -->
            <!-- Start a conversation by <a href="mailto:bhonda89@gmail.com" class="font-medium transition-colors hover:text-white hover:opacity-100">emailing me</a>. -->
          </p>
          <!-- <h2 class="h2 h1-max-w">
            <span class="h1"
              >I'm ready to hit the ground running with a team that is looking for a motivated developer.</span
            >

            <br />
            <br />
            If you think we might be a good fit, or if you just want to chat,
            <a href="mailto:bhonda89@gmail.com" download class="text-white underline">
              send me an email at <span class="font-semibold">bhonda89@gmail.com</span></a
            >.
          </h2> -->
        </div>

        <!-- ================================================= -->
        <!-- 06 CONTACT (Desktop) -->
        <!-- ================================================= -->
        <div class="desktop-only-block flex-1 min-w-[16rem]">
          <!-- <img src="/assets/images/memoji.png" alt="Ben Honda Memoji" class="-mt-10 w-full object-contain" /> -->

          {#
          <div class="mt-0 md:mt-4 md:flex-1 flex md:flex items-start space-x-12 md:space-x-0">
            {{ footer_links.chat(data) }}
            <!--  -->
            {{ footer_links.connect(data) }}
          </div>
          #}
        </div>
      </div>

      <div class="mt-20">
        <div
          class="text-center md:text-left md:flex items-start justify-start space-y-12 md:space-y-0 space-x-0 md:space-x-24"
        >
          <div class="flex-[2_2_0%]">
            <div class="space-y-3 md:space-y-1">
              <p class="list-label mb-2">Hire me</p>

              <div class="flex justify-center md:justify-start items-center flex-wrap">
                <p class="p">
                  Whether you're looking for a front-end developer with an eye for design or a designer who understands
                  the technical side of things, I can help. Let's chat.

                  <!-- I'm looking for front-end development or UI/UX
                  design positions. I'm open to remote work and, for the right opportunity, relocation from my residence
                  in Toronto, ON. -->
                </p>
              </div>
            </div>
          </div>
          <div class="flex-[3_3_0%]">{{ footer_links.chat(data) }}</div>
          <!-- <div class="flex-1"></div> -->
          <div class="flex-[2_2_0%]">{{ footer_links.connect(data) }}</div>
        </div>
      </div>
      {#
      <div class="mt-24 md:mt-32 flex items-start justify-start">
        <div class="flex-1 max-w-2xl">{{ footer_links.footer_row(data) }}</div>

        <div class="mobile-only-block flex-shrink-0">
          <img src="/assets/images/memoji.png" alt="Ben Honda Memoji" class="h-40 w-40 object-contain" />
        </div>
      </div>
      #}
    </div>
  </div>
  <!-- ================================================= -->
</div>
