---
layout: "layouts/level_2.njk"
title: ADAPTS
---

{% from "macros/primitives.njk" import tooltag %}
<!--  -->
{% import "macros/project_detail_blocks.njk" as blocks %}

<div class="relative">
  <div id="top"></div>

  <!-- ================================================= -->
  <!-- 01 INTRO -->
  <!-- ================================================= -->
  {{ blocks.big_intro(title="ADAPTS", subtitle=projects.adapts.intro, stack_data=projects.adapts.stack1) }}

  <!-- ================================================= -->
  <!-- Image break -->
  <!-- ================================================= -->
  {{ blocks.big_image_section(src="/assets/images/adapts-mac-1.png", alt="ADAPTS preview") }}

  <!-- ================================================= -->
  <!-- 03 Bio -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">About the Company</p>
    </div>

    {% call blocks.call_left_stack_right_content(stack_data=projects.adapts.about_stack) %}
    <p class="h1-sub">{{ projects.adapts.about_company }}</p>
    {% endcall %}
  </div>

  <!-- ================================================= -->
  <!-- 04 The problem -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">Problem Description</p>
    </div>

    {% call blocks.call_left_stack_right_content(stack_data=[]) %}
    <p class="h1-sub font-semibold text-white/90">{{ projects.adapts.problem1 }}</p>
    <br />
    <br />
    <p class="h1-sub">{{ projects.adapts.problem2 }}</p>
    {% endcall %}
  </div>

  <div class="dark bg-zinc-100">
    <!-- ================================================= -->
    <!-- 05 The Solution -->
    <!-- ================================================= -->
    <div class="pg-section-2 pg-section-border">
      <div class="pg-padding-ext">
        <p class="section-label">The Solution</p>
      </div>

      {% call blocks.call_left_stack_right_content(stack_data=projects.adapts.solution_stack) %}
      <p class="h1-sub">{{ projects.adapts.solution1 }}</p>
      {% endcall %}
    </div>

    <!-- ================================================= -->
    <!-- Video -->
    <!-- ================================================= -->
    <div class="pg-section relative">
      <img src="/assets/images/ADAPTS-text.png" alt="ADAPTS" class="absolute left-0 top-0 w-full opacity-5" />

      <div class="mt-6 md:mt-12 pg-padding">
        <div class="pt-6 bg-zinc-700 shadow-xl rounded-md">
          <video class="w-full object-contain rounded-b-md" autoplay loop controls>
            <source src="/assets/images/adapts-demo-1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <!-- ================================================= -->
    <!-- Functionality -->
    <!-- ================================================= -->
    <div class="pg-section pg-section-border">
      <div class="pg-padding-ext">
        <p class="section-label">How we did it</p>
      </div>

      {% call blocks.call_left_stack_right_content(stack_data=[]) %}
      <p class="h1-sub">{{ projects.adapts.functionality }}</p>
      {% endcall %}
    </div>

    <!-- ================================================= -->
    <!-- Step by step -->
    <!-- ================================================= -->
    <div class="pg-section relative">
      <div class="pg-padding-mobile-expand">
        <div class="overflow-hidden">
          <img src="/assets/images/adapts-example-1.png" alt="ADAPTS" class="min-w-[30rem] w-full object-contain" />
        </div>
      </div>
      <div class="pg-padding">
        <img src="/assets/images/adapts-dashboard-1.png" alt="ADAPTS Dashboard Demo" class="w-full object-contain" />
      </div>
    </div>

    <!-- ================================================= -->
    <!-- CLOSING -->
    <!-- ================================================= -->
    <div class="pg-section pg-section-border">
      <div class="pg-padding-ext">
        <p class="section-label">Bottom line</p>
      </div>

      {% call blocks.call_left_stack_right_content(stack_data=[]) %}
      <p class="h1-sub">{{ projects.adapts.closing1 }}</p>
      <br />
      <p class="h1-sub font-medium">{{ projects.adapts.closing2 }}</p>
      {% endcall %}
    </div>

    <!-- end white  -->
  </div>

  <!-- ================================================= -->
  <!-- 03 Bio -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">How we built it</p>
    </div>

    {% call blocks.call_left_stack_right_content(stack_data=projects.adapts.tech_stack) %}
    <p class="h1-sub">{{ projects.adapts.tech }}</p>

    <!-- stack image -->
    <img src="/assets/images/adapts-arch.png" alt="ADAPTS tech stack" class="my-12 md:my-16 w-full object-contain" />

    <div class="space-y-10">
      {% for sec in projects.adapts.tech3 %}
      <div>
        <h3 class="h1-sub font-medium mb-2">{{ sec.title }}</h3>
        {% for p in sec.content %}
        <p class="h1-sub">{{ p }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endcall %}
  </div>

  <!-- ================================================= -->
</div>
