---
layout: "layouts/level_2.njk"
title: "Projects"
---

<!--  -->
{% from "macros/feature_blocks.njk" import projects %}
<!--  -->
{% import "macros/secondary_page_blocks.njk" as blocks %}

<div>
  <!-- ================================================= -->
  <!-- 01 ABOUT -->
  <!-- ================================================= -->
  {{ blocks.big_intro(title="Featured Projects") }}

  <div class="pg-section">
    {{ projects(data) }}
  </div>
</div>
