---
layout: "layouts/level_2.njk"
title: Portal Manager
---

{% from "macros/primitives.njk" import tooltag %}
<!--  -->
{% import "macros/project_detail_blocks.njk" as blocks %}

<div class="relative">
  <div id="top"></div>

  <!-- ================================================= -->
  <!-- 01 INTRO -->
  <!-- ================================================= -->
  {{ blocks.big_intro(title="Portal Manager", subtitle=projects.portals.intro, stack_data=projects.portals.stack1) }}

  <!-- ================================================= -->
  <!-- Image break -->
  <!-- ================================================= -->
  {{ blocks.big_image_section(src="/assets/images/pm-landing-2.png", alt="Portal Manager preview") }}

  <!-- ================================================= -->
  <!-- 03 Bio -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">About the Company</p>
    </div>

    {% call blocks.call_left_stack_right_content(stack_data=projects.portals.about_stack) %}
    <p class="h1-sub">{{ projects.portals.about_company }}</p>
    {% endcall %}
  </div>

  <!-- ================================================= -->
  <!-- 04 The problem -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">Problem Description</p>
    </div>

    {% call blocks.call_left_stack_right_content(stack_data=[]) %}
    <p class="h1-sub">{{ projects.portals.problem }}</p>
    {% endcall %}
  </div>

  <div class="dark bg-zinc-100">
    <!-- ================================================= -->
    <!-- 05 The Solution -->
    <!-- ================================================= -->
    <div class="pg-section-2 pg-section-border">
      <div class="pg-padding-ext">
        <p class="section-label">The Solution</p>
      </div>

      {% call blocks.call_left_stack_right_content(stack_data=projects.portals.solution_stack) %}
      <p class="h1-sub">{{ projects.portals.solution1 }}</p>
      {% endcall %}
    </div>

    <!-- ================================================= -->
    <!-- Video -->
    <!-- ================================================= -->
    <div class="pg-section relative">
      <img src="/assets/images/pm-text.png" alt="portals" class="absolute left-0 top-0 w-full opacity-5" />

      <div class="mt-6 md:mt-12 pg-padding">
        <div class="pt-6 bg-zinc-700 shadow-xl rounded-md">
          <video class="w-full object-contain rounded-b-md" autoplay loop controls>
            <source src="/assets/images/pm-demo-1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <!-- ================================================= -->
    <!-- Functionality -->
    <!-- ================================================= -->
    {#
    <div class="pg-section pg-section-border">
      <div class="pg-padding-ext">
        <p class="section-label">How we did it</p>
      </div>

      {% call blocks.call_left_stack_right_content(stack_data=[]) %}
      <p class="h1-sub">{{ projects.portals.functionality }}</p>
      {% endcall %}
    </div>
    #}

    <!-- end white  -->
  </div>

  <!-- ================================================= -->
  <!-- 03 Bio -->
  <!-- ================================================= -->
  <div class="pg-section pg-section-border">
    <div class="pg-padding-ext">
      <p class="section-label">How we built it</p>
    </div>

    {% call blocks.call_left_stack_right_content(stack_data=projects.portals.tech_stack) %}
    <p class="h1-sub">{{ projects.portals.tech }}</p>

    <!-- stack image -->
    <img
      src="/assets/images/pm-arch.png"
      alt="Portal Manager tech stack"
      class="my-12 md:my-16 w-full object-contain"
    />

    <div class="flex items-start justify-end">
      <div class="flex-1 max-w-sm">
        <p class="p2 flex items-start">
          <span class="mr-1">*</span>
          <span>
            With each portal is a private API that we can use to GET information (e.g. uptime) and POST information
            (e.g. suspend access when the trial period expires)
          </span>
        </p>
      </div>
    </div>

    <div class="space-y-10 mt-12">
      {% for sec in projects.portals.tech3 %}
      <div>
        <h3 class="h1-sub font-medium mb-2">{{ sec.title }}</h3>
        {% for p in sec.content %}
        <p class="h1-sub">{{ p }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endcall %}
  </div>

  <!-- ================================================= -->
</div>
